//
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Custom Properties

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-blue: #16a0e0;

    --fs-h1: 2.25rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
}

// General Styles

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    // user-select: none;
    // -moz-user-select: none;
    // -webkit-user-select: none;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

// Tooltip

// Buttons

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    box-shadow: 1px 1px 0.5px 3px rgba(0, 0, 0, 0);
}

.btn,
.technology {
    transition: transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    -ms-transition: transform 0.2s ease-in;
}

.btn:hover,
.technology:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

// Typography

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    color: var(--clr-light);
}

.section__subtitle--intro {
    text-align: center;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro {
    color: var(--clr-dark);
    cursor: default;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-transform: uppercase;
}

// Header
.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}

.nav__link,
.nav__link:visited {
    color: var(--clr-light);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

a.nav__link:hover {
    border-bottom: 2px solid var(--clr-accent);
}

.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
}
.hamburger::after {
    bottom: 8px;
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
    z-index: 1000;
}
header {
    display: flex;
    align-items: center;
    // background: rgb(41, 40, 40);
    background: var(--clr-dark);
    position: sticky;
    top: 0;
    z-index: 99;
    color: var(--clr-light);
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 3px;
    padding: 1em;
}

header.border {
    border-image-source: linear-gradient(to left, #69bcf4, #30cc8b);
}

.nav__link,
.nav__link:visited {
    color: var(--clr-light);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

@media (min-width: 800px) {
    .logo {
        border-right: 2px solid var(--clr-light);
        padding-right: 25px;
    }

    .nav__item {
        margin-left: 30px;
        font-size: var(--fs-h3);
    }

    .nav__item:nth-last-child(1) {
        margin-right: 20px;
    }

    .nav__link:focus {
        border-bottom: 2px solid var(--clr-accent);
    }
    .nav-toggle {
        display: none;
    }

    .nav__link {
        outline: none;
    }
}

@media (max-width: 799px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    .nav {
        position: fixed;
        background: var(--clr-dark);
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;

        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    }

    .nav__link {
        font-size: var(--fs-h2);
        outline: none;
    }

    .nav__list {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav__toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

// Intro Section

.intro {
    // background: var(--clr-blue);
    position: relative;
    text-align: center;
    background: linear-gradient(to right, #69bcf4, #30cc8b);
    height: 100vh;
    h1 {
        padding-top: 100px;
        padding-top: -webkit-calc(30vh - 113px);
        padding-top: expression(30vh - 113px);
        padding-top: -moz-calc(30vh - 113px);
        padding-top: -o-calc(30vh - 113px);
        padding-top: calc(30vh - 113px);
        font-size: 5em;
        font-weight: 100;
    }
}

// My Services section

.my-services {
    background-color: var(--clr-dark);
    background-image: url("/images/bg-01.png");
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    h3 {
        padding: 1.25em 0 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        object {
            padding-right: 5px;
        }
        // border: 1px solid white;
    }
}

// .service__image {
//     height: 100%;
//     width: 50px;
//     object-fit: contain;
//     // border: 1px solid white;
//     fill: #16e0bd;
//     color: white;
// }

.services {
    margin-bottom: 5em;
}

.icon {
    fill: none !important;
    stroke: var(--clr-light) !important;
    width: 50px;
    height: 100%;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4em;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.section__subtitle--about {
    padding: 0 1em;
}

.about-me__body {
    p {
        margin-bottom: 1em;
    }
}

// @media (min-width: 600px) {
//     .about-me {
//     }
// }

.web-technologies {
    background: lightgray;
}

.technologies {
    display: grid;
    grid-template-areas: ". . . ";
    grid-gap: 20px;
    padding: 5px;
}

.technology {
    img {
        object-fit: contain;
        height: 100%;
        width: 200px;
    }
    height: 200px;
    border-radius: 10px;
    padding: 10%;
    background: var(--clr-light);
    display: flex;
    justify-content: center;
    align-content: center;
}

.technology:hover {
    // outline: 3px solid var(--clr-blue);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.25);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--clr-blue);
    color: var(--clr-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--clr-blue) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

// My Work

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: 0.75;
}

// FOOTER
.footer {
    background: #111;
    color: var(--clr-light);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}
